.specials-section-container {
    width: 70%;
    margin: 0 auto;
    padding: 200px 0;
}

.specials-section-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.specials-section-title h1 {
    font-size: 32pt;
}

.btn-menu {
    padding: 15px 45px;
}

.specials-cards-container {
    width: 70%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-content: center;
    padding-top: 50px;
}
